@use "./mixins" as *;
@use "./variables" as *;

// Global styles
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

/* 隐藏所有滚动条 */
* {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
